<!DOCTYPE html>
<html lang="en-US">
<head>
    <% include ../partials/stylesheets %>
    <% include ../partials/scripts %>
</head>
<body>
    <div class="construction">
        <h1>
            Site Under Construction
        </h1>
    </div>
</body>
